[% WRAPPER 'include/layout.tt' %]

<form method="POST" action="[% uri_for('/post') %]">
	<input type="text" name="body">
	<input type="submit" value="Send">
</form>

<ul>
[% FOR entry IN entries %]
	<li>[% entry.entri_id %]. [% entry.body %]</li>
[% END %]
</ul>

[% END %]
